$footer-height: 150px;
$font-text: "Lato", Helvetica;

.navbar {
  border-radius:0;
  font-family: $font-text;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('black_cross.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Lato", Helvetica;
  font-weight: 100;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #8AB2FF;
}



h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
  color: #1D0251;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
} 

.btn {
  border-radius:0;
}

.btn-success {
  background-color: #EC4661;
  border-color: #EC4661;
}

.btn-success:hover {
  background-color: #9C2D3F;
  border-color: #9C2D3F;
}

.btn-success:focus {
  background-color: #9C2D3F;
  border-color: #9C2D3F;
}

.btn-success:active {
  background-color: #9C2D3F;
  border-color: #9C2D3F;
}

.btn-primary {
  background-color: #5F83C3;
  border-color: #5F83C3;
}

body {
  background: url('red_cross.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.card-box {
  -webkit-box-shadow: -2px 2px 5px 1px rgba(204,204,204,1);
  -moz-box-shadow: -2px 2px 5px 1px rgba(204,204,204,1);
  box-shadow: -2px 2px 5px 1px rgba(204,204,204,1);
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  padding:10px;
  color: #1D0251;

  h1, h2 {
    margin:10px;
  }
}

html,
body {
  height: 100%;
  color: #1D0251;
}

.clr {
  clear:both;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -$footer-height;
  padding: 0 0 $footer-height;
}

#footer {
  height:$footer-height;
  color: white;
  background-color: rgba(180,43,63,0.9);
  font-family: $font-text;
  margin-top:30px;
  font-weight: 100;
  padding:30px 0px;

  a {
    color:white;
    font-weight:100;
  }

  h2 {
    color:white;
    font-weight: bold;
    font-size: 18px;
  }
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.dragHandle {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.dragHandle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


.lesson {
  background:url('black_cross.png');
  margin-top: 10px;
  height: 130px;

  a {
    color: white;
    font-family: $font-text;
    font-weight: 100;
    font-size: 15px;
  }

  a b {
    font-weight: 100;
    font-size: 25px;
  }

  li {
    background: black;
    color: white;
    margin: 10px;
    font-family: $font-text;
    font-weight: 100;
    padding: 8px;
  }
}

.lesson li b{
  font-weight: 100;
  font-size: 15px;
}
.lesson li h3{
  margin: 0;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;

  .header{
    font-size: 25px;
  }

  .header .glyphicon {
    font-size: 20px;  
  }
}

.section-li {
  -webkit-box-shadow: -2px 2px 5px 1px rgba(218,21,53,1);
  -moz-box-shadow: -2px 2px 5px 1px rgba(218,21,53,1);
  box-shadow: -2px 2px 5px 1px rgba(218,21,53,1);
  background-color: #E52C4E;
  color: #fff;
  padding: 20px;
  margin: 20px;
}

.social-button {
  width: 32px;  
  margin: 4px;
  
  a:hover {
    text-decoration:none; 
  }
}

h3 .feature-course {
  color: #ffffff;
}

#footer ul {
  padding: 0;
  list-style-type: none;
}

.social ul li {
  display:inline;
}

$footer-height-mobile: 400px;
@media (max-width: 750px) {
  #footer {
    height:$footer-height-mobile;
  }

  #wrap {
    margin: 0 auto -$footer-height-mobile;
    padding: 0 0 $footer-height-mobile;
  }

  #footer .social {
    margin-top: 10px;
  }
}